<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Découvrir les Phosphates de Gafsa</title>
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Untitled</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .section-title h4 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .section-title p {
            font-size: 1.2rem;
            color: #777;
        }
        .timeline-list {
            list-style: none;
            padding: 0;
        }
        .timeline_content {
            margin-bottom: 2rem;
        }
        .timeline_content span {
            font-size: 1rem;
            font-weight: bold;
            color: #888;
        }
        .timeline_content h4 {
            font-size: 1.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .timeline_content p {
            font-size: 1rem;
            color: #555;
        }
    </style>
</head>
<body>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
          <a href="index.html" class="logo d-flex align-items-center">
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/CPG_logo.svg/langfr-210px-CPG_logo.svg.png" alt="">
            <h1>La Compagnie des phosphates de Gafsa</h1>
          </a>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/home">Accueil</a></li>
              <li><a href="/about">A propos</a></li>
              <li><a href="/login">logout </a></li>
    
            </ul>
          </nav><!-- .navbar -->
        </div></header>

<section class="experience pt-5 pb-5" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title">
                    <h4>Découvrir les Phosphates de Gafsa</h4>
                    <p>Historique et évolution</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list">
                    <li>
                        <div class="timeline_content">
                            <span>1885</span>
                            <h4>Découverte des Gisements de Phosphates</h4>
                            <p>C'est en avril 1885, lors d'une prospection dans la région de Metlaoui, partie occidentale du sud du pays, que Philippe Thomas, géologue amateur français, a découvert des couches puissantes de phosphates de calcium sur le versant Nord de JEBEL THELJA. D'autres prospections géologiques et des explorations de grande envergure ont suivi cette découverte décisive.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <span>1897</span>
                            <h4>Création de la Compagnie des Phosphates de Gafsa</h4>
                            <p>En 1897, la Compagnie des Phosphates et de Chemins de Fer de Gafsa a été fondée et le premier chantier d'extraction a été mis en route à Metlaoui. Cela a marqué le début d'une nouvelle activité industrielle des phosphates dans la région.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <span>1920</span>
                            <h4>Fondation de la Compagnie Tunisienne Des Phosphates De Jbel M'dhilla</h4>
                            <p>En 1920, la Compagnie Tunisienne Des Phosphates De Jbel M'dhilla a été fondée, contribuant ainsi à l'essor de l'industrie des phosphates dans la région.</p>
                        </div>
                    </li>
                    <!-- Ajoutez d'autres événements historiques ici -->
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="footer-basic">
    <footer>
        <div class="social text-center">
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <a href="#"><i class="icon ion-social-snapchat"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.facebook.com/CNITUNISI/"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Accueil</a></li>
            <li class="list-inline-item"><a href="#">A propos</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">Login</a></li>
        </ul>
        <p class="copyright text-center">La Compagnie des phosphates de Gafsa © 2024</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


</body>
</html>
