<div class="container">
	<div class="row justify-content-center">
	  <div class="col-md-6">
		<h2>Inscription</h2>
		<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
		  <div class="form-group">
			<label for="username">Nom d'utilisateur</label>
			<input type="text" formControlName="username" class="form-control" id="username" placeholder="Nom d'utilisateur">
			<div *ngIf="signUpForm.get('username')?.errors && (signUpForm.get('username')?.dirty || signUpForm.get('username')?.touched)"
			  class="text-danger">
			  <div *ngIf="signUpForm.get('username')?.hasError('required')">Nom d'utilisateur requis</div>
			</div>
		  </div>
		  <div class="form-group">
			<label for="email">Email</label>
			<input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
			<div *ngIf="signUpForm.get('email')?.errors && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"
			  class="text-danger">
			  <div *ngIf="signUpForm.get('email')?.hasError('required')">Email requis</div>
			  <div *ngIf="signUpForm.get('email')?.hasError('email')">Email invalide</div>
			</div>
		  </div>
		  <div class="form-group">
			<label for="password">Mot de passe</label>
			<input type="password" formControlName="password" class="form-control" id="password" placeholder="Mot de passe">
			<div *ngIf="signUpForm.get('password')?.errors && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)"
			  class="text-danger">
			  <div *ngIf="signUpForm.get('password')?.hasError('required')">Mot de passe requis</div>
			  <div *ngIf="signUpForm.get('password')?.hasError('minlength')">Le mot de passe doit contenir au moins 6 caractères</div>
			</div>
		  </div>
		  <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">S'inscrire</button>
		</form>
		<div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
	  </div>
	</div>
  </div>
  