/* Styles précédents inchangés */

.title {
  color: #ff7f50; /* Couleur orangée pour les titres */
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.description {
  font-size: 1.1rem;
  color: #333;
}

.text-container {
  flex: 1;
}

.card {
  position: relative;
  max-width: 800px; /* Ajustez la largeur maximale selon vos préférences */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

/* Autres styles inchangés */
.training-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 80%; /* Largeur de la carte réduite */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa; /* Couleur de fond de la carte */
}

.image-container {
  text-align: center;
  padding: 20px;
}

.image-container img {
  width: 150px; /* Taille de l'image réduite */
  height: 150px; /* Taille de l'image réduite */
  border-radius: 50%;
  object-fit: cover;
}

.text-container {
  padding: 20px;
  text-align: left;
}

.title {
  color: #2e08ee;
  font-size: 1.5rem; /* Taille du titre augmentée */
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem; /* Taille de la description légèrement augmentée */
  color: #555; /* Couleur de la description */
}
