#logout{
    color: #fafcfa;
    font-size: 15px;
}
#tit{
    font-size: 20px;
}
#tit1{
    font-size: 14px;
}
.icon {
    width: 30px;
    height: 30px;
    background-size: cover;
  }
  .ico {
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  .ic {
    width: 30px;
    height: 30px;
    background-size: cover;
  }
a{
    color: white;
}
.color{
    color: rgba(0, 0, 0, 0.66);
}
.profile-info,
.error-info {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-info p,
.error-info p {
  margin: 0;
}

.dropdown-toggle {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-toggle:hover {
  color: #555;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.move-right {
    margin-left: 50px; /* ajustez cette valeur selon votre préférence */
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th, table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }body {
    background: linear-gradient(90deg, rgba(9, 79, 121, 1) 1%, rgba(0, 212, 255, 1) 100%);
}

.navbar {
    background: linear-gradient(90deg, rgba(9, 79, 121, 1) 1%, rgba(0, 212, 255, 1) 100%);
}


.breadcrumb-item a {
    color: white !important;
}

.card-header.bg-primary {
    background-color: #007bff !important;
    color: white !important;
}
.description {
  max-width: 250px; /* Limite la largeur de la colonne de la description */
  word-wrap: break-word; /* Permet le retour à la ligne lorsque le texte dépasse la largeur */
}

.table th,
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}
